<template>
  <div class="sc-header">
    <img class="sc-header--img" alt />
    <div
      v-if="$root.usersIcon"
      class="arrow-icon"
      @click="$root.activeUsersIcon = true, $root.searchIcon = true, $root.usersIcon = false"
    >
      <img src="./assets/back.svg" alt="Users LIst" />
    </div>
    <div class="sc-header--team-name">
      <slot name="username"></slot>
    </div>
    <div
      v-if="$root.activeUsersIcon"
      class="user-icon"
      @click="$root.usersIcon = true, $root.searchIcon = true, $root.activeUsersIcon = false"
    >
      <img src="./assets/activeUsrs.svg" alt="Active Users List" />
    </div>
    <div
      v-if="$root.searchIcon"
      class="user-icon"
      @click="$root.usersIcon = true, $root.activeUsersIcon = true, $root.searchIcon = false"
    >
      <img src="./assets/search.svg" alt="Serch" />
    </div>
    <div class="sc-header--close-button" @click="$emit('closeChat')">
      <img src="./assets/close-icon.png" alt="Close" />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
<style scoped>
.sc-header {
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
  background: #4e8cff;
  color: #ffffff;
}

.sc-header--img {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.sc-header--team-name {
  align-self: center;
  padding: 10px;
  flex: 1;
  user-select: none;
  border-radius: 5px;
}

/* .sc-header--team-name:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, .1);
} */

.sc-header--close-button {
  width: 40px;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.sc-header--close-button:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}

.sc-header--close-button img {
  width: 100%;
  height: 100%;
  padding: 13px;
  box-sizing: border-box;
}

.user-icon {
  width: 35px;
  align-self: center;
  height: 35px;
  margin-right: 2px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}
.user-icon:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}
.user-icon img {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.arrow-icon {
  width: 35px;
  align-self: center;
  height: 35px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 7px;
}
.arrow-icon:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}
.arrow-icon img {
  width: 100%;
  height: 100%;
  padding: 7.5px;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}
</style>
