<template>
  <div>
    <div class="sc-launcher" :class="launch ? 'opened' : 'isOpen'" @click="launch = !launch">
      <div v-if="totalSender > 0 " class="sc-new-messsages-count">{{totalSender}}</div>
      <img class="sc-open-icon" src="./assets/close-icon.png" />
      <img class="sc-closed-icon" src="./assets/logo-no-bg.svg" />
    </div>

    <chat-window
      v-if="launch && $root.usersIcon && $root.activeUsersIcon && $root.searchIcon"
      @closeChat="launch = !launch"
      :contact="selectedContact"
      :messages="messages"
      @new="saveNewMessage"
      @end_of_page="infinityScroll"
      :user="user"
    ></chat-window>

    <contact-list
      v-if="launch && !$root.usersIcon && $root.searchIcon && $root.activeUsersIcon"
      @selected="startConversationWith"
      @closeChat="launch = !launch"
      :contacts="contacts"
      :onlineUsers="onlineUsers"
      @end_of_contact="infinityContact"
    ></contact-list>

    <active-users
      v-if="launch && !$root.activeUsersIcon && $root.searchIcon && $root.usersIcon"
      @selected="startConversationWith"
      @closeChat="launch = !launch"
      :onlineUsers="onlineUsers"
    ></active-users>
    <search-users
      v-if="launch && $root.activeUsersIcon && $root.usersIcon && !$root.searchIcon"
      @selected="startConversationWith"
      @closeChat="launch = !launch"
      :onlineUsers="onlineUsers"
    ></search-users>
    <div>
      <audio
        id="audio"
        src="http://soundbible.com/mp3/Elevator%20Ding-SoundBible.com-685385892.mp3"
      ></audio>
    </div>
    <detect-network v-on:detected-condition="detected"></detect-network>
    <template>
      <loading :show="show" :label="label"></loading>
    </template>
  </div>
</template>
<script>
import ChatWindow from "./ChatWindow.vue";
import ContactList from "./ContactList.vue";
import ActiveUsers from "./ActiveUsers.vue";
import SearchUsers from "./SearchUsers.vue";
import detectNetwork from "v-offline";
require("howler");

export default {
  components: {
    ChatWindow,
    ContactList,
    ActiveUsers,
    SearchUsers,
    detectNetwork
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      open: "open",
      launch: false,
      users: true,
      activeUsers: false,

      selectedContact: null,
      messages: [],
      contacts: [],
      icon: false,
      onlineUsers: [],
      paginator: [],
      contactPaginator: [],
      newContactPaginator: {
        next_page_url: "/other_contacts"
      },
      old_url: null,
      url: null,
      audio: "",
      state: null,
      show: true,
      label:
        "<span style='color: red;'>Internet connection is not available. Trying to reconnect.</span>"
    };
  },
  created() {
    this.getContacts();

    Echo.private(`messages.${this.user.id}`).listen("NewMessage", e => {
      this.handleIncoming(e.message);
    });

    Echo.private(`msgSeen`).listen("MsgSeenEvent", e => {
      //console.log(e.user.id);
      // console.log("selected User" + e.message);
      // console.log("active User" + this.$root.activeUser);
      this.$root.userId = e.message;
      this.$root.opositeActiveUser = e.user.id;
    });

    Echo.private(`user_is_active`).listen("userIsActive", e => {
      this.$root.opositeActiveUser = e.user.id;
    });

    Echo.join(`activeUsers`)
      .here(users => {
        this.onlineUsers = users;
        console.log(this.onlineUsers)
      })
      .joining(user => {
        this.onlineUsers.push(user);
      })
      .leaving(user => {
        this.onlineUsers = this.onlineUsers.filter(u => {
          u != user;
        });
      });
  },
  mounted() {
    if (this.user.id) {
      this.$root.activeUser = this.user.id;
      this.$root.activeUserDetail = this.user;
    }
  },
  methods: {
    test() {
      console.log(this.icon);
    },
    getContacts() {
      axios.get("/contacts").then(response => {
        this.makeContactPagination(response.data);
        this.contacts = response.data.data;
        var length = Object.keys(this.contacts).length;
        if (length < 10) {
          this.geOtherContacts();
          //console.log(length);
        }
        this.$root.allContacts = response.data.data;
      });
    },
    startConversationWith(contact) {
      this.messages = [];
      this.$root.activeUsersIcon = true;
      this.$root.usersIcon = true;
      this.$root.searchIcon = true;
      this.updateUnreadCount(contact, true);
      axios.get(`/conversation/${contact.id}`).then(response => {
        this.messages = response.data.data.reverse();
        this.$root.allMszs = response.data.data;
        this.makePagination(response.data);
        this.selectedContact = contact;
      });

      axios.post("/msgseen", {
        msg_seen: contact.id
      });
    },
    makePagination(data) {
      let paginator = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url
      };
      this.paginator = paginator;
    },
    makeContactPagination(data) {
      let paginator = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url
      };
      this.contactPaginator = paginator;
    },
    makeNewContactPagination(data) {
      let paginator = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url
      };
      this.newContactPaginator = paginator;
    },
    infinityScroll() {
      if (this.paginator.next_page_url != null) {
        this.$root.spinning = true;
        axios.get(this.paginator.next_page_url).then(response => {
          this.makePagination(response.data);
          this.$root.allMszs = response.data.data;
          var newMsgs = response.data.data;
          //console.log(newMsgs);
          newMsgs.forEach(message => {
            this.messages.unshift(message);
          });
          this.$root.spinning = false;
        });
      }
    },
    infinityContact() {
      if (this.contactPaginator.next_page_url != null) {
        this.$root.spinning = true;
        if (this.contactPaginator.next_page_url != this.old_url) {
          this.old_url = this.contactPaginator.next_page_url;
          axios.get(this.contactPaginator.next_page_url).then(response => {
            this.makeContactPagination(response.data);
            this.$root.allContacts = response.data.data;
            var contacts = response.data.data;
            //console.log(contacts);
            contacts.forEach(contact => {
              this.contacts.push(contact);
            });
            this.$root.spinning = false;
          });
        }
      }

      if (
        this.contactPaginator.next_page_url === null &&
        this.newContactPaginator.next_page_url != null
      ) {
        this.geOtherContacts();
      }
    },
    geOtherContacts() {
      this.$root.spinning = true;
      if (this.newContactPaginator.next_page_url != this.url) {
        this.url = this.newContactPaginator.next_page_url;
        axios.get(this.newContactPaginator.next_page_url).then(response => {
          this.makeNewContactPagination(response.data);
          //console.log(response.data)
          this.$root.allContacts = response.data.data;
          var contacts = response.data.data;
          //var cont = Object.assign({}, ...this.contacts, ...contacts)
          //this.contacts = [...this.contacts, ...contacts];
          //console.log(this.contacts)
          contacts.forEach(contact => {
            this.contacts.push(contact);
          });
          this.$root.spinning = false;
        });
      }
    },
    saveNewMessage(message) {
      this.messages.push(message);
    },
    handleIncoming(message) {
      if (!_.find(this.contacts, { id: message.from })) {
        this.getContacts();
      }
      if (this.selectedContact && message.from == this.selectedContact.id) {
        this.saveNewMessage(message);

        axios.post("/msgseen", {
          msg_seen: this.selectedContact.id
        });

        return;
      }

      if (this.user.id == message.to) {
        axios.post("/get_msg", {
          get_msg: message.from
        });
      }
      this.play();
      this.updateUnreadCount(message.from_contact, false);
    },
    updateUnreadCount(contact, reset) {
      this.contacts = this.contacts.map(single => {
        if (single.id !== contact.id) {
          return single;
        }

        if (reset) single.unread = 0;
        else single.unread += 1;
        single.latest = new Date().getTime();

        return single;
      });
    },
    play() {
      this.audio = document.getElementById("audio");
      this.audio.play();
    },
    detected(e) {
      this.state = e;
      this.show = !this.show;
    }
  },
  computed: {
    totalSender() {
      var countSender = 0;
      this.contacts.forEach(contact => {
        if (contact.unread > 0) {
          countSender += 1;
        }
      });
      return countSender;
    }
  }
};
</script>
<style scoped>
.sc-launcher {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  background-color: #4e8cff;
}

.sc-launcher:before {
  content: "";
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}

.sc-launcher .sc-open-icon,
.sc-launcher .sc-closed-icon {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.sc-launcher .sc-closed-icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  width: 60px;
  height: 60px;
}

.sc-launcher .sc-open-icon {
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}

.sc-launcher.opened .sc-open-icon {
  transform: rotate(-90deg);
  opacity: 1;
}

.sc-launcher.opened .sc-closed-icon {
  transform: rotate(-90deg);
  opacity: 0;
}

.sc-launcher.opened:before {
  box-shadow: 0px 0px 400px 250px rgba(148, 149, 150, 0.2);
}

.sc-launcher:hover {
  box-shadow: 0 0px 27px 1.5px rgba(0, 0, 0, 0.2);
}

.sc-new-messsages-count {
  position: absolute;
  top: -3px;
  left: 41px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #ff4646;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
}

.slide-enter {
}
.slide-enter-active {
  animation: slide-in 0.5s ease-out forwards;
}
.slide-leave {
}
.slide-leave-active {
  animation: slide-out 0s ease-out forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(2000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px);
  }
}
</style>

